
@media (320px <= width <= 480px) {
  .top-bar {
    display: none;
  }
  /* Start Navbar Responsive */
  .main-header__content{
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
  }

  .main-header__logo{
    display: none;
  }
.main-header__bars-icon{
display: flex;
font-size: 0.90rem;
}

  .main-header__menu{
    flex-direction: column;
    font-size: 0.75rem;
  }

  .main-header__right{
    display: none;
  }

  .main-header__left{
  flex-direction: column;
  }

.main-header__search-icon{
  font-size: 1rem;
}

  .main-header__search-btn{
display: none;
  }

  .main-header__cart-icon{
    font-size: 1rem;
  }

  .main-header__cart-btn{
    width: 2.4rem;
height: 2.4rem;
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 10px;
  }
  .main-header__profile{
    height: 2.2rem;
    margin-top: 1rem;
  }
  .main-header__profile-text{
    font-size: 0.75rem;
  }
   /* Finish Navbar Responsive */

   /* Start Status Responsive */
   .landing__title{
    font-size: 1rem;
   }

   .landing__subtitle{
    font-size: 1rem;
   }

   .landing__searchbar-input{
    height: 2rem;
   }

   .landing__searchbar-btn{
    font-size: 1rem;
    padding: 0.52rem;
   }

   .landing-status{
    flex-direction: column;
    gap: 20px;
   }

   .landing-status__icon{
    width: 2rem;
    height: 2rem;
   }

   .landing-status__count{
    font-size: 1.2rem;
   }

   .landing-status__text{
    font-size: 1rem;
   }
   /* Finish Status Responsive */

    /* Start Course Header Responsive */
  .courses-header__right{
    display: none;
  }
  .courses-header__link{
    font-size: 1.2rem;
  }
}

@media (481px <= width <= 768px) {
  .top-bar {
    padding: 0.5rem;
  }
  .top-bar__content {
    padding: 0 0.5rem;
  }
  .top-bar__link {
    font-size: 0.66rem;
    padding: 0 0.5rem;
  }

  .top-bar__email-text,
  .top-bar__phone-text {
    padding: 0 0.5rem;
    font-size: 0.66rem;
  }

  .top-bar__email-icon,
  .top-bar__phone-icon {
    font-size: 1rem;
  }

  /* Start Navbar Responsive */
.main-header__logo{
  display: none;
}

.main-header__menu{
  font-size: 1rem;
}

  .main-header__left{
    display: none;
  }
  /* Finish Navbar Status */

  /* Start Status Responsive */
  .landing__title{
    margin-top: 3rem;
    font-size: 1.25rem;
  }

  .landing__subtitle{
    font-size: 1rem;
  }

  .landing__searchbar-input{
    height: 2.5rem;
  }
  .landing__searchbar-btn{
    font-size: 0.54rem;
  }

  .landing-status__icon{
    height: 1.5rem;
    width: 1.5rem;
  }
  .landing-status__count{
    font-size: 1.2rem;
  }

  .landing-status__text{
    font-size: 1rem;
  }
 
}

@media (769px <= width <= 1024px) {
  .top-bar__link {
    font-size: 0.9rem;
  }
  .top-bar__email-text,
  .top-bar__phone-text {
    padding: 0 0.8rem;
    font-size: 0.9rem;
  }

  .top-bar__email-icon,
  .top-bar__phone-icon {
    font-size: 0.9rem;
  }

  /* Navbar */
 .main-header__menu{
  margin-right: 12rem;
 }

  .main-header__left{
    display: none;
  }

}
